.main-container {
  display: flex;
}

.main-container .customer,
.main-container .pet {
  width: 20vw;
}

.main-container .consultations .consultation .texts {
  min-height: 50px;
}

.main-container .customer .observations,
.main-container .pet .observations,
.main-container .consultation .observations {
  font-style: italic;
}

.main-container .pets {
  padding: 10px;
  zoom: 1.5;
  margin-left: 10vw;
}

.main-container .consultations .consultations-list {
  max-height: 84vh;
}

.main-container .consultations .consultations-list .balance {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.main-container .consultations .consultations-list .balance-row {
  display: flex;
  width: 20ch;
}

.main-container .consultations .consultations-list .balance-row .balance-label {
  width: 20ch;
  text-align: left;
}

.main-container .consultations .consultations-list .balance-row .balance-amount {
  text-align: right;
  width: 20ch;
}


.balance-row-red {
  color: red;
}

.balance-row-green {
  color: green;
}

.main-container .pets .pets-header {
  font-size: 1.2em;
  padding-bottom: 6px;
  font-weight: bold;
  color: #666;
}

.main-container .pets .list-group-item {
  cursor: pointer;
}

.main-container .pets button {
  zoom: 0.7;
}

.main-container .pets .pet {
  margin-right: 20px;
}
